.moviesIndex {
  p {
    font-size: 40px;
    margin: 0;
    line-height: 0px;
  }
  .indexImage {
position: relative;
background-position: center;
background-repeat: no-repeat;
    img {
      max-width: 100%;
    }
  }
}
