.moviesIndex {
  p {
    font-size: 40px;
    margin: 0;
    line-height: 0px;
  }
  .indexImage {
position: relative;
background-position: center;
background-repeat: no-repeat;
background-image: url("../images/unwatched.png");
    img {
      max-width: 100%;
    }
  }
}

.watched {
  background-image: url("../images/watched.png");
}
