<div class="loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-if="!show.movie"></i>
</div>

<div class="container MovieShow" ng-show="show.movie" id="why">
  <div class="row">
    <div class="six columns">
      <img ng-src="http://image.tmdb.org/t/p/w500{{ show.movie.poster_path }}" alt=""/>
    </div>
    <div class="six columns">
      <h2>{{ show.movie.title }}</h2>
      <h5 ng-if="show.movie">Release date: {{ show.movie.release_date }}</h5>
      <i ng-if="show.movie.vote_average >= 1" class="fa fa-star" aria-hidden="true"></i>
      <i ng-if="show.movie.vote_average >= 3" class="fa fa-star" aria-hidden="true"></i>
      <i ng-if="show.movie.vote_average >= 5" class="fa fa-star" aria-hidden="true"></i>
      <i ng-if="show.movie.vote_average >= 7" class="fa fa-star" aria-hidden="true"></i>
      <i ng-if="show.movie.vote_average >= 9" class="fa fa-star" aria-hidden="true"></i>
      <p>{{ show.movie.overview }}
        <br>
        <br>
        <a href="http://www.imdb.com/title/{{show.movie.imdb_id}}" target="_blank">Check it out on IMDb</a>
        <br>
        <span>or</span>
        <br>
        <a href="https://www.themoviedb.org/movie/{{show.movie.tmdb_id}}" target="_blank">on the Movie Database!</a>
      </p>

      <button type="button" ng-if="show.watched" ng-click="show.updateViewings()">Watched</button>
    </div>
  </div>

  <h3 ng-if="show.movie.images.backdrops.length > 0">IMAGES</h3>
  <div class="images">
    <img  ng-repeat="image in show.movie.images.backdrops" ng-src="http://image.tmdb.org/t/p/w500{{ image.file_path }}" alt="" />
  </div>

  <h3 ng-if="show.movie.videos.results.length > 0">VIDEOS</h3>
  <div class="video-container" ng-if="show.movie.videos.results.length > 0">
    <iframe ng-repeat="video in show.movie.videos.results" ng-src="{{trustSrc('https://www.youtube.com/embed/'+video.key+'?controls=0&showinfo=0')}}" frameborder="0" allowfullscreen controls="false"></iframe>
  </div>
  <div class="back-to-top">Back to Top</a>
  </div>
